<div>
    <p>
        <strong>Technical accounts</strong>
    </p>
    <p>This view allows you to create accounts with specific delegation rights.
        <strong>Details of rights:</strong>
    </p>
    <ul>
        <li>
            <strong>'Delegation' :</strong> enables operations for other users through the Delegation API.To carry out these operations you must select the list of permissions
            <i>(rights)</i>that we want to give to this account. No permissions are selected by default.
            <br>For the definition of how the Delegation API works, you can refer to its available documentation at the address :
            <a href="http://download.linshare.org">http://download.linshare.org</a>
        </li>
        <li>
            <strong>'Upload proposal' :</strong> Upload proposal being an external module of the application, it requires a special account to connect to Anchel and recover its configuration. This account is dedicated to this use.</li>
    </ul>
</div>